@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-color: #ff8a50;
}

.box {
    margin-top: 4%;
    position: absolute;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    background-color: #e5e5e5;
    border-radius: 6px;
}

.box .title {
    margin: 20px 0;
    color: #c41c00
}

.box .about {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
    color: #212121;
}


.questions_list {
    margin-top: 20px;
}

.btn_start {
    margin-top: 20px;
    position: absolute;
    left: 40%;
    margin-bottom: 10%;
}

.btn_start button {
    width: 150px;
    height: 40px;
    font-size: 20px;
    background-color: #c41c00;
    border: 1px solid rgb(255, 210, 148);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;

    margin-bottom: 20px;
}

button:active {
    box-shadow: 0 5px #ff8a50;
    transform: translateY(2px);
}

button {
    box-shadow: 0 1px rgb(244, 202, 142);
}

.questions_list .select {
    width: 95%;
    height: 34px;
    border-radius: 3px;
    border: 1px solid #ff8a50;
}

.questions_list select {
    font-size: 14px;
    background-color: transparent;
    font-family: 'Roboto';
    color: #333333;
    border: 0;
    margin-bottom: 10px;
}

section {
    text-align: left;
    margin-left: 40px;
}

section p {
    font-size: 20px;
    color: #212121;
    margin-bottom: 3px;
}

.tbbt_img img {
    width: 100%;
    height: 350px;
}

.modal {
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.modal_content {
    background-color: rgb(248, 195, 122);
    padding: 30px 24px;
    width: 650px;
    height: 200px;
    border-radius: 0.5rem;
}

.modal span {
    position: relative;
    right: 30px;
    bottom: 90px;
    width: 24px;
    cursor: pointer;
    text-align: center;
    line-height: 24px;
}

.modal span img {
    width: 50px;
    height: 50px;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}